{% load static %}

<footer class="fixed bottom-0 left-0 right-0 py-4 lg:py-3 bg-primary flex justify-evenly items-center">
    <a href="{% url 'orders' %}" class="bg-white rounded-full p-3">
        <img src="{% static 'icons/ticket.png' %}" alt="">
    </a>
    <a href="{% url 'home' %}" class="bg-white rounded-full p-4 mb-2">
        <img src="{% static 'icons/home.png' %}" alt="">
    </a>
    <a href="{% url 'profile' %}" class="bg-white rounded-full p-3">
        <img src="{% static 'icons/profile.png' %}" alt="">
    </a>
</footer>