{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Destaques</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
</head>
<body class="bg-white">

    {% include 'header.html' %}

    <main class="flex-grow pt-28 pb-32 px-4 md:px-8 mt-6 fade-in lg:mx-32">
        <div class="text-lg font-bold font-sans text-gray-800 mb-4">Em Alta</div>
        <div class="bg-gray-100 rounded-lg shadow-md text-center mb-4 p-4">
            <div class="text-lg font-bold font-sans text-gray-800 mb-4">Nome da barraca</div>
            <div class="flex justify-around mb-4">
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
            </div>
            <button class="bg-primary text-white font-bold font-sans py-2 px-4 rounded hover:bg-blue-600 mt-4">
                Fazer pedido
            </button>
        </div>

        <div class="bg-gray-100 rounded-lg shadow-md text-center mb-4 p-4">
            <div class="text-lg font-bold font-sans text-gray-800 mb-4">Nome da barraca</div>
            <div class="flex justify-around mb-4">
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
            </div>
            <button class="bg-primary text-white font-bold font-sans py-2 px-4 rounded hover:bg-blue-600 mt-4">
                Fazer pedido
            </button>
        </div>

        <div class="text-lg font-bold font-sans text-gray-800 mb-4">Bem Avaliados</div>
        <div class="bg-gray-100 rounded-lg shadow-md text-center mb-4 p-4">
            <div class="text-lg font-bold font-sans text-gray-800 mb-4">Nome da barraca</div>
            <div class="flex justify-around mb-4">
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
                <div class="bg-gray-300 rounded-lg w-24 h-24"></div>
            </div>
            <button class="bg-primary text-white font-bold font-sans py-2 px-4 rounded hover:bg-blue-600 mt-4">
                Fazer pedido
            </button>
        </div>
    </main>

    {% include 'footer.html' %}

</body>
</html>
