{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Destaques</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'css/scrollbar.css' %}">
</head>
<body class="bg-white">

    {% include 'header.html' %}

    <main class="flex-grow pt-28 pb-32 px-4 md:px-8 mt-6 fade-in lg:mx-32">
        <div class="text-lg lg:text-3xl font-bold font-sans text-gray-800 mb-4">Em Alta</div>

        {% for estabelecimento in estabelecimentos %}

        <div class="bg-white rounded-lg shadow-md p-5 sm:p-10 md:p-14 lg:p-20 mb-10 flex sm:flex-row items-start space-y-6 sm:space-x-10 w-full max-w-4xl mx-auto">
            {% if estabelecimento.imagem %}
                <div class="w-[120px] h-[120px] sm:w-[200px] sm:h-[200px] rounded-lg flex-shrink-0 mr-10 sm:mr-2">
                    <img src="{{ estabelecimento.imagem.url }}" alt="Logo da barraca" class="w-full h-full object-cover rounded-lg">
                </div>
            {% else %}
                <div class="w-[150px] h-[150px] sm:w-[200px] sm:h-[200px] bg-gray-300 rounded-lg flex-shrink-0"></div>
            {% endif %}
            <div class="flex-1 text-left">
                <h2 class="text-2xl sm:text-3xl font-bold text-gray-800 mb-3 sm:mb-5">{{ estabelecimento.nome }}</h2>
                <p class="text-base sm:text-lg text-gray-500 mb-4 sm:mb-6">
                    {{ estabelecimento.descricao }}
                </p>
                <a href="{% url 'itens_estabelecimento' estabelecimento.id_estabelecimento %}" class="bg-primary text-white px-6 sm:px-10 py-3 sm:py-4 rounded-lg text-base sm:text-lg font-bold hover:bg-blue-600 transition">
                    Fazer pedido
                </a>
            </div>
        </div>

        {% endfor %}

    </main>

    {% include 'footer.html' %}

</body>
</html>
