{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{estabelecimento.nome}}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
</head>
<body class="bg-white font-sans">

    {% include 'header.html' %}

    <main class="flex-grow pt-28 pb-32 px-4 md:px-8 mt-6 fade-in lg:mx-32">
        <section class="m-5 p-5 bg-gray-100 rounded-lg shadow-lg flex items-center gap-4">
            <img src="{{ estabelecimento.imagem.url }}" alt="Logo da barraca" class="w-16 h-16 bg-gray-300 rounded-full">
            <div>
                <h1 class="text-lg font-bold text-gray-800">{{estabelecimento.nome}}</h1>
                <p class="text-sm text-gray-600">{{estabelecimento.descricao}}</p>
                <p class="text-sm text-gray-600">Agendamento: 20-30 minutos</p>
            </div>
        </section>

        <div class="m-5 text-lg font-bold text-gray-800">Itens</div>

        <div class="m-5 flex flex-col gap-4">

            {% for item in itens %}
                <div class="flex items-center bg-gray-100 p-4 rounded-lg shadow-lg">
                    <div class="w-12 h-12 bg-gray-300 rounded-lg mr-4"></div>
                    <div class="flex-1">
                        <h2 class="text-base font-bold text-gray-800">{{item.nome_item}}</h2>
                        <p class="text-sm text-gray-600">{{item.descricao}}</p>
                    </div>
                    <button class="bg-primary text-white rounded-md py-2 px-4 text-sm font-bold">Adicionar ao carrinho</button>
                </div>
            {% endfor %}
        </div>
    </main>

    {% include 'footer.html' %}

</body>
</html>
