{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Pedidos</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}">
</head>
<body>

    {% include 'header.html' %}

    <main class="flex-grow pt-28 pb-32 fade-in lg:mx-32">
        <div class="mx-5 mb-4 p-4 bg-gray-100 rounded-lg shadow-md mt-2">
            <div class="text-lg font-bold text-gray-800">Seu último pedido</div>
            <div class="text-sm text-gray-600 mt-1">Informações do pedido</div>
            <button class="bg-primary text-white font-bold text-sm rounded px-4 py-2 mt-2 hover:bg-blue-600">Refazer pedido</button>
        </div>

        <div class="m-5 text-2xl font-bold text-gray-800">Meus Pedidos</div>

        <div class="mx-5 mb-4 p-4 bg-gray-100 rounded-lg shadow-md">
            <div class="text-lg font-bold text-gray-800">Pedido 1</div>
            <div class="text-sm text-gray-600 mt-1">Informações do pedido</div>
            <div class="text-yellow-500 text-lg mt-1">★★★★★</div>
        </div>

        <div class="mx-5 mb-4 p-4 bg-gray-100 rounded-lg shadow-md">
            <div class="text-lg font-bold text-gray-800">Pedido 2</div>
            <div class="text-sm text-gray-600 mt-1">Informações do pedido</div>
            <div class="text-yellow-500 text-lg mt-1">★★★★☆</div>
        </div>

        <div class="mx-5 mb-4 p-4 bg-gray-100 rounded-lg shadow-md">
            <div class="text-lg font-bold text-gray-800">Pedido 3</div>
            <div class="text-sm text-gray-600 mt-1">Informações do pedido</div>
            <div class="text-yellow-500 text-lg mt-1">★★★☆☆</div>
        </div>
    </main>

    {% include 'footer.html' %}
</body>
</html>
